@font-face {
  font-family: 'Playfair';
  src: url("../Fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../Fonts/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../Fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../Fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../Fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.color-text {
  color: #ffaa00;
}

:root {
  font-size: 16px;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Muller;
  font-weight: normal;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:focus {
  outline: none;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img:focus {
  outline: none;
  border: none;
}

.bg-black {
  background-color: #000;
  border-bottom: none !important;
}

.bg-black h2 {
  color: #fff;
}

.bg-dark {
  background-color: #1d1b26;
  border-bottom: none !important;
}

.bg-dark h2 {
  color: #fff;
}

.bg-white {
  background-color: #fff;
  border-bottom: none !important;
}

.bg-white h2 {
  color: #000;
}

.text-color {
  color: #ffaa00;
}

.header__wrap {
  background-color: #1d1b26;
}

.header {
  position: relative;
  padding: 1rem 0 .2rem;
  z-index: 10;
}

.header::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 36px;
  background-image: url("../images/header.png");
  background-repeat: repeat;
  background-size: contain;
}

.header .row {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header__cont1 {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  height: 100%;
  display: block;
  width: 7rem;
}

.header__logo-link {
  display: block;
  height: 100%;
}

.header__logo-link img {
  max-width: 100%;
  height: auto;
}

.header__descr {
  max-width: 14rem;
}

.header__descr-text {
  margin-left: 1.5rem;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1px;
}

.header__cont2 {
  display: flex;
  align-items: center;
}

.header__tel {
  margin-right: 3rem;
  font-weight: 600;
}

.header__order span {
  display: inline-block;
  cursor: pointer;
  transition: all .15s ease-in-out;
  border-bottom: 1px dashed #ffaa00;
}

.header__order span:hover {
  color: #fff;
  border-block-color: transparent;
}

.nav {
  margin-top: 1rem;
}

.nav__block {
  margin-top: .5rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__item {
  position: relative;
  margin: 0.5rem 0 0;
  margin-right: 1.5rem;
  opacity: 0.7;
}

.nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 2px;
  background-color: transparent;
  transition: all .28s ease-in-out;
}

.nav__item:hover {
  opacity: 1;
}

.nav__item:hover::after {
  width: 100%;
  background-color: #ffaa00;
}

.nav__link {
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 0 0.45rem 3px;
  margin-bottom: -5px;
  overflow: hidden;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
}

section {
  position: relative;
  overflow: hidden;
  border-bottom: none !important;
}

.hero {
  position: relative;
  padding: 4rem 0 0;
}

.hero__img {
  height: 50vw;
}

.hero__item-left {
  position: absolute;
  top: 14%;
  left: 19%;
}

.hero__item-left img {
  width: 21vw;
}

.hero__item-left:hover .hero__item-text {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.hero__item-left:hover img {
  display: none;
}

.hero__item-left:hover #img-hidden {
  display: block;
}

.hero__item-center {
  top: 8%;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.hero__item-center img {
  width: 47vw;
  max-width: unset;
}

.hero__item-center:hover img {
  display: none;
}

.hero__item-center:hover #img-hidden {
  display: block;
}

.hero__item-right {
  position: absolute;
  top: 14%;
  right: 19%;
}

.hero__item-right img {
  width: 23vw;
}

.hero__item-right:hover .hero__item-text {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.hero__item-right:hover img {
  display: none;
}

.hero__item-right:hover #img-hidden {
  display: block;
}

.hero__item-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__item-text span {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.hero__btn {
  position: absolute;
  bottom: 11%;
  left: 50%;
  color: #000;
  font-weight: 500;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.hero__btn a {
  display: block;
  padding: 1rem 7rem .7rem;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.38rem;
  background-color: #ffaa00;
  border-radius: 80px;
  transition: all .3s ease-in-out;
}

.hero__btn a:hover {
  box-shadow: 0 0 20px 1px #ffaa00;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

#img-hidden {
  display: none;
}

.fake {
  width: 16rem;
  height: 73%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 9;
}

.fake:hover .hero__item-center img {
  display: none;
}

.fake:hover .hero__item-center #img-hidden {
  display: block;
}

#dima-text {
  bottom: 40px;
  left: 40%;
}

#artem-text {
  bottom: -25px;
}

.about {
  padding-bottom: 4rem;
  background-image: url("../images/after-main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about__title {
  position: relative;
  padding: 8rem 0 0;
  margin-left: 14rem;
  margin-bottom: 4rem;
  width: 32rem;
}

.about__title h2 {
  line-height: 1.2;
  font-size: 2.2rem;
  font-weight: 700;
}

.about__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  height: 100%;
  width: 2px;
  background-color: #ffaa00;
}

.about__tab {
  display: flex;
}

.about__tab-one {
  flex: 0 0 70%;
}

.about__tab-two {
  flex: 0 0 30%;
  padding-left: 3rem;
}

.about__tab-two .elem-two {
  margin: 0 0 4rem;
  cursor: pointer;
}

.about__tab-two .elem-two:last-child {
  margin: 0;
}

.about__tab-two .elem-two-wrap a p {
  font-size: 1.85rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

.elems {
  position: relative;
  height: 100%;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  visibility: hidden;
  pointer-events: none;
  transition: all .3s  ease-in-out;
}

.img img {
  max-width: auto;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: none;
          filter: none;
  visibility: visible;
  pointer-events: all;
}

.mountain-wrap {
  position: relative;
  height: 60rem;
  background-image: url("../images/mountain.webp");
  background-position: center left;
  background-size: cover;
}

.mountain-content {
  position: absolute;
  top: 33%;
  left: 37%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mountain-order {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #000000e8;
  max-width: 50%;
  padding: 2rem 3rem;
}

.mountain-order-title {
  line-height: 1.3;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.mountain-order p {
  margin: 1rem 0;
  padding-right: 1.5rem;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #fff;
}

.mountain-order .button {
  margin-top: 1.8rem;
}

.mountain-order .button .btn span {
  display: inline-block;
  padding: 1.25rem 2rem;
  position: relative;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.5px;
  border-radius: 50px;
  background-color: #ffaa00;
}

.mon {
  position: relative;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.mon .text-color {
  font-weight: 700;
  font-size: 1.5rem;
}

#mon-first::before,
#mon-second::before,
#mon-third::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffaa00;
}

#mon-first::after {
  content: '';
  position: absolute;
  top: 0%;
  right: -150%;
  width: 55%;
  height: 2px;
  background-color: #ffaa00;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}

#mon-first::before {
  -webkit-animation: line-grow-m 5s  ease-in-out infinite;
          animation: line-grow-m 5s  ease-in-out infinite;
}

#mon-first::after {
  -webkit-animation: line-grow-s 5s  ease-in-out infinite;
          animation: line-grow-s 5s  ease-in-out infinite;
}

#mon-second::before {
  -webkit-animation: line-grow-l 5s  ease-in-out infinite;
          animation: line-grow-l 5s  ease-in-out infinite;
}

#mon-third::before {
  -webkit-animation: line-grow 5s  ease-in-out infinite;
          animation: line-grow 5s  ease-in-out infinite;
}

@-webkit-keyframes line-grow {
  0% {
    width: 100%;
  }

  100% {
    width: 230%;
  }
}

@keyframes line-grow {
  0% {
    width: 100%;
  }

  100% {
    width: 230%;
  }
}

@-webkit-keyframes line-grow-l {
  0% {
    width: 100%;
  }

  100% {
    width: 260%;
  }
}

@keyframes line-grow-l {
  0% {
    width: 100%;
  }

  100% {
    width: 260%;
  }
}

@-webkit-keyframes line-grow-m {
  0% {
    width: 100%;
  }

  100% {
    width: 208%;
  }
}

@keyframes line-grow-m {
  0% {
    width: 100%;
  }

  100% {
    width: 208%;
  }
}

@-webkit-keyframes line-grow-s {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes line-grow-s {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.problem {
  padding: 5rem 0;
}

.problem-title {
  max-width: 60rem;
  margin: 0 auto 4rem;
}

.problem-title h2 {
  color: #000;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
}

.problem__img {
  height: 90vw;
  max-height: 70vw;
}

.problem__block {
  position: absolute;
  width: 100%;
  height: 78%;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.problem__item {
  position: absolute;
  max-width: 18rem;
  text-align: center;
  color: #000;
  line-height: 1.3;
}

#problem__item-1 {
  left: 50%;
  top: 3%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#problem__item-2 {
  left: 20%;
  top: 12%;
}

#problem__item-3 {
  left: 15%;
  top: 25%;
}

#problem__item-4 {
  left: 12%;
  top: 40%;
}

#problem__item-5 {
  left: 10%;
  top: 55%;
}

#problem__item-6 {
  left: 20%;
  top: 75%;
}

#problem__item-7 {
  left: 35%;
  top: 82%;
}

#problem__item-8 {
  left: 50%;
  top: 75%;
}

#problem__item-9 {
  left: 60%;
  top: 65%;
}

#problem__item-10 {
  left: 70%;
  top: 50%;
}

#problem__item-11 {
  left: 70%;
  top: 40%;
}

#problem__item-12 {
  left: 70%;
  top: 25%;
}

#problem__item-13 {
  left: 65%;
  top: 10%;
}

.services {
  margin-left: -3%;
  padding-bottom: 5rem;
}

.services-title {
  max-width: 58rem;
  margin-left: auto;
  text-align: right;
}

.services-title h2 {
  width: 70%;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.services-title p {
  width: 70%;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #000;
}

.services__wrap {
  width: 70%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 4rem auto;
}

.services__item {
  width: 30%;
  margin-left: 3.33%;
  text-align: center;
}

.services__item-wrap {
  margin: 0 auto 3rem;
  padding: 0 2rem;
}

.services__item-img {
  margin-bottom: 1rem;
}

.services__item-img img {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
}

.services__item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.services__item-title {
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #1b1d26;
  border-bottom: 2px solid #ffaa00;
}

.services__item-text {
  padding-top: 1rem;
  color: #80868e;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

.services__btn {
  padding: 2rem 0 0;
  text-align: center;
}

.services__btn .button .btn {
  display: inline-block;
}

.services__btn .button .btn span {
  display: block;
  padding: 1.2rem 1.7rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #ffaa00;
  border-radius: 50px;
}

.partners {
  position: relative;
  border-bottom: 0;
}

.partners::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: url("../images/header.png") repeat-x left bottom;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 999;
}

.partners__wrap {
  padding: 4rem 0 6rem;
}

.partners__title {
  margin-bottom: 2rem;
  text-align: center;
}

.partners__title h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
}

.partners__flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.partners__item {
  width: 25%;
  padding: 1rem;
}

.partners__item-img img {
  margin: 0 auto;
}

.work {
  padding: 4rem 0;
}

.work__title {
  margin-bottom: 2rem;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.work__title::first-letter {
  text-transform: capitalize;
}

.work__block-wrap {
  padding: 0 2rem;
  margin-left: -3.33%;
}

.work__block-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.work__block-item {
  position: relative;
  width: 30%;
  margin-left: 3.33%;
  margin-bottom: 2rem;
}

.work__block-descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
}

.work__block-descr-wrap {
  padding: 1rem;
}

.team {
  position: relative;
}

.team::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background-image: url("../images/header.png");
  background-repeat: repeat;
  background-size: contain;
  z-index: 99;
}

.founder {
  padding: 4rem 0;
  position: relative;
}

.founder__wrap {
  display: flex;
  align-items: flex-start;
}

.founder-left {
  padding: 0 1rem;
  width: 33.33%;
}

.founder-right {
  padding: 0 1rem;
  margin: 4rem auto 0 9.34%;
  width: 58.33%;
}

.founder__title {
  padding-right: 5rem;
  margin-bottom: 2rem;
}

.founder__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}

.founder__content {
  padding: 2rem 3rem 0 0;
}

.founder__content-wrap li {
  position: relative;
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.founder__content-wrap li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -5px;
  width: 16px;
  height: 1px;
  background-color: #ffffffe3;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.founder__content-wrap li p {
  line-height: 1.4;
}

.founder__content-text {
  margin: 1rem 0;
}

.founder__content-text p {
  font-size: 20px;
  line-height: 1.3;
}

.founder__btn {
  margin-top: 2rem;
  text-align: center;
}

.founder__btn .btn {
  display: inline-block;
}

.founder__btn .btn span {
  display: block;
  padding: 1.25rem 2rem;
  position: relative;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.5px;
  background-color: #ffaa00;
  border-radius: 50px;
}

.form {
  padding: 4rem 0;
  color: #000;
}

.form__item {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #000;
}

.form__item input {
  display: inline;
  position: relative;
  z-index: 2;
  margin-top: .8rem;
  width: 100%;
  padding: 1rem 1.2rem;
  height: auto;
  color: #1d1a24;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0px solid rgba(29, 26, 36, 0.2);
  border-bottom: 2px solid transparent;
  border-radius: 7px;
  background: #f5f6f8;
  box-shadow: none;
  box-shadow: inset 2px 4px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
}

.form__item:first-child {
  text-transform: capitalize;
}

.form__btn {
  padding-top: 1rem;
  text-align: center;
}

.form__btn .btn {
  display: inline-block;
}

.form__btn .btn span {
  overflow: hidden;
  display: block;
  padding: 1.25rem 2rem;
  position: relative;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.5px;
  background-color: #ffaa00;
  border-radius: 50px;
}

.footer {
  position: relative;
  padding: 4rem 0 1rem;
}

.footer::before {
  content: '';
  position: absolute;
  top: -36px;
  left: 0;
  width: 100%;
  height: 36px;
  background-image: url("../images/header.png");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__row {
  margin-bottom: 3rem;
  display: flex;
  align-items: stretch;
}

.footer__col {
  width: 30%;
  padding-left: 4rem;
}

.footer__col:first-child {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 4rem;
}

.footer__col-title {
  margin-bottom: 1.5rem;
}

.footer__col-title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer__col-nav ul span {
  padding-right: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
}

.footer__col-nav ul li {
  position: relative;
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.footer__logo {
  max-width: 125px;
}

.footer__descr {
  margin: 1rem 0 2rem;
}

.footer__descr p {
  line-height: 1.3;
  font-weight: 600;
  font-size: 0.9rem;
}

.footer__item {
  display: inline;
  margin-bottom: 1.5rem;
  align-self: flex-start;
}

.footer__item span {
  display: block;
  margin-bottom: .5rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.footer__item p {
  display: block;
  margin: 0.5rem 0 0;
  font-size: 18px;
  line-height: 1.5;
}

.footer__item a {
  display: block;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.footer__tel {
  display: inline;
  position: relative;
}

.footer__tel::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffaa00;
}

.footer__doc-span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}

.footer__doc-span span {
  display: inline-block;
  margin-right: 1rem;
}

.social__wrap {
  display: flex;
}

.social__item a {
  margin-right: 1.5rem;
}

.social__item svg {
  width: 24px;
  height: 24px;
  fill: rgba(255, 255, 255, 0.8);
}